//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
    +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav(data-da='.mobile-menu__menu,1024')&attributes(attributes)
    ul
      each menuItem in mainMenu
        if selectedID === menuItem.id
          li.active
            a(href=menuItem.url)=menuItem.name
            if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
              button.sub-arrow(type='button')
              ul
                each menuItem2 in menuItem.childs
                  li
                    a(href=menuItem2.url)=menuItem2.name
                    if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                      button.sub-arrow(type='button')
                      ul
                        each menuItem3 in menuItem2.childs
                          li
                            a(href=menuItem3.url)=menuItem3.name
        else
          li
            a(href=menuItem.url)=menuItem.name
            if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
              button.sub-arrow(type='button')
              ul
                each menuItem2 in menuItem.childs
                  li
                    a(href=menuItem2.url)=menuItem2.name
                    if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                      button.sub-arrow(type='button')
                      ul
                        each menuItem3 in menuItem2.childs
                          li
                            a(href=menuItem3.url)=menuItem3.name
