//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
    +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav#nav.main-nav(itemscope='' itemtype='http://schema.org/SiteNavigationElement')&attributes(attributes)
    ul#main-menu.sm.sm-clean(itemprop='about' itemscope='' itemtype='http://schema.org/ItemList')
      each menuItem in mainMenu
        li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ItemList')
          if (selectedID === menuItem.id)
            a.current(href=menuItem.url itemprop='url')=menuItem.name
          else
            a(href=menuItem.url itemprop='url')=menuItem.name
          meta(itemprop='name' content=menuItem.name)
          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            ul(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ItemList')
              each menuItem2 in menuItem.childs
                li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ItemList')
                  a(href=menuItem2.url itemprop='url')=menuItem2.name
                  meta(itemprop='name' content=menuItem2.name)
                  if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                    ul(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ItemList')
                      each menuItem3 in menuItem2.childs
                        li(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ItemList')
                          a(href=menuItem3.url itemprop='url')=menuItem3.name
                          meta(itemprop='name' content=menuItem3.name)
