extends ../layouts/layout

block meta
  title Список страниц
  style
    include ../styles/base/inline.scss

block content
  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html",
        //- id: "ui-kit",
        //- innerList: [
        //-   {
        //-     name: "Accordion — accordion.html",
        //-     src: "./accordion.html"
        //-   },
        //- ]
      },
      {
        name: "Главная — index.html",
        src: "./index.html"
      },
    ]
  main
    .sitemap
      .container
        img(
          src="https://via.placeholder.com/300x150",
          width="300",
          alt="Логотип проекта"
        )
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href=item.src, target="_blank")= item.name
              else
                a(href=page.src, target="_blank")= page.name
